/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
chatter.log
npm-debug.log
yarn-error.log
.phpunit.result.cache
homestead.json
Homestead.yaml
auth.json

# macOS Specific
.DS_Store
.AppleDouble
.LSOverride
Icon

# IDEs and Editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
